@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,500,600,800|Varela+Round|Amatic+SC|Montserrat");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

* {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    font-size: 1.05em;
}

h1, h2, h3, h4 {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;

    td, th {
        border: solid 1px #EEE;
        padding: 5px;
    }
}

h1 {
    span {
        color: #eb097a;
        // text-transform: uppercase;
    }
}
h2 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    span {
        font-size: 0.85em;
        border-radius: 25px;
        height: 35px;
        width: 35px;
        display: flex;
        background: #eb097a;
        color: white;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
    background: #F0F0F0;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

blockquote {
    font-size: 1.3em;
    line-height: 1.6em;
    // font-weight: bold;
    color: #444;
    background: #F9F9F9;
    margin-left: 40px;
    padding: 10px 10px 10px 20px;
    border-left: solid 6px #eb097a;
}

.main {
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 10px;
}

table.variables {
    td, th {
        // max-width: 300px;
        font-size: 0.9rem;
        padding: 1px;
    }
    th {
        word-break: break-all;
        font-weight: 700;
        background: #F6F6F6;
        padding: 10px;
        text-transform: capitalize;
    }
}

#census_demo {
    // margin-bottom: 50px;

    .container {
        width: 100%;
        max-height: 700px;
        display: grid;
        row-gap: 5px;
        grid-template-columns: auto;
        grid-template-rows: 40px 250px 100px 310px;

        .toolbar {
            display: flex;
            justify-content: space-between;
            button {
                background-color: #ddd;
                border: none;
                color: black;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 16px;
                &:focus {
                    box-shadow: 0px 0px 2px 2px rgb(54, 142, 241);
                    outline: none;
                }

                &.selected {
                    background: black;
                    color: white;
                }
            }
            .pull-right {
                align-self: center;
            }
        }
        #variable-selection, #results {
            overflow-y: auto;
            border: solid 1px #CCC;
        }
        #results { 
            overflow-y: auto;
            border: solid 1px #CCC;
            min-height: 100px;
            max-height: 250px;
        }
        #queries {
            font-size: 0.9rem;
            display: grid;
            column-gap: 5px;
            grid-template-columns: 1fr 1fr;
            > div {
                border: solid 1px #CCC;
                background: #F9F9F9;
                padding: 10px;
                overflow-y: auto;
                height: 100%;
            }
        }
    }

    pre {
        // width: 100%;
        background: #F6F6F6;
        // padding: 10px;
        font-weight: 500;
        line-height: 1.2em;
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;  
        // font-family: 'Courier New', Courier, monospace;
        margin: 0px;
    }
}
@media screen and (max-width: 1200px) { 
    .main {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media screen and (max-width: 900px) { 
    .main {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media screen and (max-width: 700px) { 
    .main {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}